<body>
<div class="navbar">
  <div class="navbar">
    <div class="navbar-title">
      <h1>Cottages Rental</h1>
    </div>
    <div class="navbar-icons">
      <a href="#">My Reservations</a>
      <%= link_to "Publish an offer", new_cottage_path%>
      <a href="#">Log in / Log out</a>
  </div>
</div>

<div class="row">
  <% @cottages.each do |cottage| %>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag(cottage.image_url, class: "card-img-top", alt: "Cottage Image") %>
        <div class="card-body">
          <h5 class="card-title"><%= cottage.name %></h5>
          <p class="card-text"><%= cottage.description %></p>
          <h5 class="card-title"><%= cottage.price %></h5>
          <%= link_to "Learn More", show_cottage_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="footer">
    <p>&copy; 2024 Cottages Rental. All rights reserved.</p>
  </div>
</body>
</html>
