
  <div class="container">

      <div class="banner">
        <div class="row justify-content-center">
          <div class="row md-8 mt-3">
            <h1 class="title"><%= @cottage.name %></h1>
              <% if @cottage.photos.attached? %>
                <div id="carouselExample" class="col-md-6 carousel slide">
                  <div class="carousel-inner">
                    <% i = 1%>
                    <% @cottage.photos.each do |photo| %>
                      <div class="carousel-item <%= i == 1 ? "active" : ""%>">
                        <%= cl_image_tag photo.key, crop: :fill, class: "img_caroussel"%>
                      </div>
                      <%  i += 1%>
                    <% end %>
                     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  </div>

                </div>
              <% else %>
                <%= image_tag "chalet.jpeg" %>
              <% end %>
        <div class="col all-descritpion">


              <div class="row info">
                <div class="description">
                  <h6 class="card-title"><strong>Description :</strong></h6>
                    <br>
                    <%= @cottage.description %>
                    <br>
                    <br>

                    <h6 class="card-title"><strong>Address :</strong></h6>
                    <br>
                    <div class="row info-price">
                    <p class="col card-text"><%= @cottage.address %></p>
                    <p class="col-auto price"><strong><%= sprintf("%0.02f", @cottage.price) %> /CAD</p></strong>
                 </div>
               </div>

                    <div class="row m-auto button-booking ">
                        <% if @cottage.user != current_user %>
                          <button type="button" class="validate-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Book a trip now !</button>
                        <% end %>


                      <% if @cottage.user == current_user %>
                        <div class="col m-3 btn-edit">
                          <%= link_to "Edit", edit_cottage_path(@cottage)  %>
                        </div>
                        <div class="col m-3 btn-delete">
                          <%= link_to link_to "Delete", cottage_path(@cottage), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                        </div>
                      <% end %>
                  </div>
                </div>
          </div>



              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= render "bookings/new", cottage: @cottage, booking: @booking %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
       </div>
     </div>
   </div>
</body>
