<body>
  <div class="container">
    <div class="banner">
        <div class="btn-edit">
            <%= link_to "Edit your cottage", edit_booking_path(@booking)  %>
        </div>
        <div class="btn-delete">
            <%= link_to link_to "Cancel the reservation", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none" %>
        </div>
      <div class="row justify-content-center">
        <div class="col-md-8 mt-3">
          <h1 class="title"><%= @booking.cottage.name %></h1>
            <div class="row justify-content-center mb-3">
              <% if @booking.cottage.photos.attached? %>
                <div id="carouselExample" class="col-md-6 carousel slide">
                  <div class="carousel-inner">
                    <% i = 1%>
                    <% @booking.cottage.photos.each do |photo| %>
                      <div class="carousel-item <%= i == 1 ? "active" : ""%>">
                        <%= cl_image_tag photo.key, crop: :fill, class: "img_caroussel"%>
                      </div>
                      <%  i += 1%>
                    <% end %>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  <% else %>
                      <%= image_tag "chalet.jpeg" %>
                  <% end %>
                </div>
              </div>
              <div class="col all-description">
                <div class="row m-auto info">
                  <div class="description">
                    <h5 class="card-title"><strong>Description :</strong></h5>
                      <br>
                      <p class="text-description"><%= @booking.cottage.description %></p>
                  <h5 class="card-title"><strong>Address :</strong></h5>
                  <br>
                      <p class="card-text"><%= @booking.cottage.address %></p>
                      <h5 class="card-title"><strong>Informations :</strong></h5>
                     <br>
                  <% if @booking.status != "Pending" %>
                    <% if @booking.status == "refused" %>
                    <p class="text-danger col text-description"><strong>Status : <%= @booking.status %></p>
                    <% else %>
                    <p class="text-success col text-description"><strong>Status : <%= @booking.status %></p>
                    <% end %>
                  <% else %>
                  <p class="text-warning col text-description"><strong>Status : <%= @booking.status %></p>
                  <% end %>
                    <div class="col date">
                        <p class="text-description"><strong>Start Date : </strong><%= @booking.start_date %></p>
                        <p class="text-description"><strong>End Date: </strong><%= @booking.end_date %></p>
                    </div>
                  </div>
                    <div class="row m-auto date">
                      <div class="col m-3 btn-edit">
                        <%= link_to "Edit", edit_booking_path(@booking)  %>
                      </div>
                        <div class="col m-3 btn-delete">
                      <%= link_to link_to "Delete the reservation", booking_path(@booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none" %>
                      </div>
                    </div>
                </div>
              </div>
             </div>
        </div>

    </div>
  </div>





</body>
