
<div class="container">
  <div class="title">
    <h1 class="text-center mt-4">Dashboard</h1>
  </div>

  <br>
  <br>

  <div class="dashboard-container">

    <div class="bookings">
          <h2 class="title">Your booking : </h2>
              <% @user_bookings.each do |booking| %>
              <div class="card">
                 <ul>
                     <img class="img" src="chalet.jpeg" alt="cottage-img">
                      <h3 class="title-cottage"><%= link_to booking.cottage.name, booking %></h3>
                      <li class="status">status : <%= booking.status %></li>
                  </ul>
              <% end %>
            </div>
        </div>


      <div class="dashboard-requests">
          <h2 class="title">Your current requests : </h2>
      </div>
      </div>
    </div>

    <div class="dashboard-requests">
      <h2>Your current requests : </h2>

      <% @bookings.each do |booking| %>
        <% @cottages.each do |cottage| %>

         <% if booking.cottage_id == cottage.id %>
          <h2><%= cottage.name %></h2>
          <p><%= cottage.address %></p>
          <div class="d-flex justify-content-between">
            <p class="text-success"> start : <%= booking.start_date %></p>
            <p class= "text-danger"> end : <%= booking.end_date %></p>
          </div>

          <div class="d-flex justify-content-between">
            <%= link_to "Accept", accept_booking_path(booking), class: 'accept-button' %>
            <%= link_to "Refuse", cottages_path, class:'refuse-button'%>
          </div>
         <% end %>

        <% end %>
      <% end %>

    </div>

  </div>

</div>
