
<div class="container">
  <div class="title">
    <h1 class="text-center mt-4">Dashboard</h1>
  </div>

  <br>
  <br>

  <div class="dashboard-container">
      <div class="col-4 m-5 booking">
          <h2 class="title">Your booking : </h2>
          <div class="booking-list">
              <% @user_bookings.each do |booking| %>
              <div>
                 <ul class="card">
                     <img class="img" src="https://www.arts.gov/sites/default/files/CottageTomMarks.jpeg" alt="cottage-img">
                      <h3 class="title-cottage"><%= link_to booking.cottage.name, booking %></h3>
                      <li class="status">status : <%= booking.status %></li>
                  </ul>
                <% end %>
              </div>
            </div>
        </div>
      </div>


       <div class="col-4 m-5 dashboard-requests">
          <h2 class="title">Your current requests : </h2>
      </div>
      </div>
    </div>

      <% @bookings.each do |booking| %>
        <% @cottages.each do |cottage| %>

         <% if booking.cottage_id == cottage.id %>
          <h2><%= cottage.name %></h2>
          <p><%= cottage.address %></p>
          <div class="d-flex justify-content-between">
            <p class="text-success"> start : <%= booking.start_date %></p>
            <p class= "text-danger"> end : <%= booking.end_date %></p>
          </div>

          <div class="d-flex justify-content-between">
            <%= link_to "Accept", accept_booking_path(booking), class: 'accept-button' %>
            <%= link_to "Refuse", refuse_booking_path(booking), class:'refuse-button'%>
          </div>
         <% end %>

        <% end %>
      <% end %>

    </div>

  </div>

</div>
