<!DOCTYPE html>
<html>
  <head>
    <title>CloneAirbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar">
        <h1><%= link_to "Cottages Rental", root_path%></h1>
      <div class="navbar-icons">
        <%= link_to "My reservations", bookings_path %>
        <%= link_to "Publish an offer", new_cottage_path%>
        <a href="#">Log in / Log out</a>
      </div>
    </div>
    <div class="container-layout">
      <%= yield %>
    </div>
    <div class="footer">
      <p>&copy; 2024 Cottages Rental. All rights reserved.</p>
    </div>
  </body>
</html>
