<!DOCTYPE html>
<html>
  <head>
    <title>CloneAirbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>


  <body class="<%="body-background" unless params[:controller] == "pages" && params[:action] == "home" %>">

    <div class="navbar">
        <h1><%= link_to image_tag("logoapp.png", alt: "Logo", class: "logoapp"), root_path%></h1>
      <div class="navbar-icons">
        <%= link_to "My reservations", dashboard_path %>
        <%= link_to "Publish an offer", new_cottage_path%>
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, alt: "avatar-bordered", class: "dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", alt: "avatar-bordered", class: "dropdown-toggle avatar-bordered", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out",  destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </div>
        <% else %>
          <%= link_to "Log in", new_user_session_path%>
        <% end %>
      </div>
    </div>
    <% if params[:controller] == "cottages" && params[:action] == "index" %>
    <%= render "cottages/search_bar" %>
    <% end %>
    <div class="container-layout">
      <%= yield %>
    </div>
    <div class="footer">
      <p>&copy; 2024 Cottages Rental. All rights reserved.</p>
    </div>
  </body>
</html>
